* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#bg{
  position: fixed; 
  width: 250px; 
  height: 250px;
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
.home-body{
  display: flex;
  justify-content: center;
  height: 100vh;
}
header > h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: rgb(216, 181, 23);
}

.nav-list > ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-evenly;
  font-weight: 900;
  
}
.nav-list {
  width: 50%;
  
  
  
  ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    
    
    justify-content: space-evenly;
    
    li {
      padding: 5px 10px;
      border: solid black 2px;
    }
  }
}
.login-container{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right:0;
  top: 0;
  margin-top: 20px;
  margin-right:250px;
  
}
.login-inputs{
  font-size: 15px;
  width: 10vw;
}
.auth-button{
  border-radius: 10px;
  color: rgb(5, 5, 5);
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
.component-link{
  display:flex;
  justify-content: center;
  width: 20%;
  height: 4vh;
  align-items: center;
  font-weight: 900;
  color: rgb(37, 141, 42);
  text-decoration: none;
  
  margin: 7px;
}

.cart-icon{
  width: 5vw;
  height: 7vh;
}

.register-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 40vh;
  font-size: 16px;
  background-color: rgb(201, 146, 75);
  border: solid black 2px;
  margin-top: 5vh;
  margin-left: 30vw;
}
.registration-inputs{
  margin:4px;
  font-size: 20px;
}

.duck_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 40vh;
  border: solid 2px black;
  margin: 20px;
  border-radius: 12px;
}
.goose_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 40vh;
  border: solid 2px black;
  margin: 20px;
  border-radius: 12px;
}
.blanks_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 40vh;
  border: solid 2px black;
  margin: 20px;
  border-radius: 12px;
  
}
.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: auto;
  min-height: 150px;
  display: flex;
  position: relative
}
    
.add-product-form{
  width:fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.form-control{
  font-size: 3vh;
  width: 25vw;
  margin: 5px;
}
.shop-button{
  border-radius: 12px;
  color: rgb(5, 5, 5);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 900;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.shop-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(20, 19, 19, 0.459);
}
.products-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.product-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  width: 50vw;
  height: 32vh;
}
.product-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  width: 50vw;
  height: 32vh;
}
.product-details{
  display:flex;
  margin: 4px;
  flex-direction: column;
}
.page-header{
  font-size: 50px;
  color:orange;
}
.message{
  font-size: larger;
  font-weight:900;
  font-style: oblique;
  position: relative;
  margin-bottom: 15px;
}
.admin-button{

}